<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totally WKC Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fresca&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <h1>HELLO WORLD!</h1>
    <p><b>totally</b>, <i>like</i>, <s>bbc</s> wkc</p>
    <p>- <i>bella shepadeven</i></p>
    <footer>
        <small>This website is not associated with <s>BBC</s> and it's brand in anyway!</small>
    </footer>
</body>
</html>