{% extends "base.html" %}
{% block content %}
    <h2>Watch the broadcasts!</h2>
    <p>We use <a href="https://slack.hackclub.com" target="_blank" rel="noopener noreferrer">Hack Club Slack</a> to communicate LIVE broadcasts to our viewers!</p>
    <p>It takes a few clicks to create an account, and you get access to an incredible community! *</p>
    <h3>Already on Slack: </h3>
    <button onclick=" window.open('https://hackclub.enterprise.slack.com/archives/C0B0Y0RQU5D','_blank')">Click here!</button>
    <br>
    {% endblock %}